@import '../../styles/colors.less';

.container {
    margin   : 0px auto;
    min-width: 1200px;
    max-width: 1400px;

    .logo {
        width     : 120px;
        height    : 31px;
        background: @primaryColor;
        margin    : 16px 28px 16px 0;
        float     : left;
    }
}