a,
p,
h1,
h2,
h3,
div,
span {
    font-family: Arial, Helvetica, sans-serif
}

body {
    padding   : 0px;
    margin    : 0px;
    background: #fafafa;
}

.text-highlight{
    color: #216AFF;
    padding: 0px 2px;
}